<footer class="footer">
  <div>
      <p style="font-size:15px;">
          포트폴리오는 수시로 업데이트 중입니다. 부족한 점이나 틀린 부분 말씀해주시면 고치겠습니다. 감사합니다.
      </p>
      <a href="https://chipped-geology-e3d.notion.site/754e82ba6f5c43c9881f26afb4d3e0c1?v=78527b9dd02a43328d32b885f0033553&pvs=4">
        <img src="../assets/img/notion.png" style="width: 50px; height:50px; padding:8px">
      </a>
      <a href="https://velog.io/@bs11">
        <img src="../assets/img/velog.jpg" style="width: 50px; height:50px; padding:8px">
      </a>
      <a href="https://open.kakao.com/o/sSiseBcf">
        <img src="../assets/img/kakaoTalk.png" style="width: 50px; height:50px; padding:8px">
      </a>
  </div>

</footer>