<div class="main_view"style="text-align: center;display: flex;
                            align-items: center; flex-direction: column;
                            justify-content: center; height: 750px;">
    <div class="main_logo">
        <span class="main_logo_moving ">B</span>
        <span class="main_logo_moving ">S</span>
        <span class="main_logo_moving ">1</span>
        <span class="main_logo_moving ">1</span>
    </div>
    <div>
        <span class="main_logo_moving ">P</span>
        <span class="main_logo_moving ">O</span>
        <span class="main_logo_moving ">R</span>
        <span class="main_logo_moving ">T</span>
        <span class="main_logo_moving ">F</span>
        <span class="main_logo_moving ">O</span>
        <span class="main_logo_moving ">L</span>
        <span class="main_logo_moving ">I</span>
        <span class="main_logo_moving ">O</span>
    </div>
</div>