<nav class="mobile_menu">

  <ul class="nav_list">
    {% if site.user.aboutme %}
    <li class="nav_item">
      <a href="{{ site.baseurl }}/pages/aboutme.html">About</a>
    </li>
    {% endif %}
    {% if site.user.skills %}
    <li class="nav_item">
      <a href="{{ site.baseurl }}/pages/skills.html">Skills</a>
    </li>
    {% endif %}
    {% if site.user.project %}
    <li class="nav_item">
      <a href="{{ site.baseurl }}/pages/project.html">project</a>
    </li>
    {% endif %}
    {% if site.user.contact %}
    <li class="nav_item">
      <a href="{{ site.baseurl }}/contact.html">Contact</a>
    </li>
    {% endif %}
  </ul>

</nav>