---
# do not remove
---

@import 'normalize';
@import 'code_style';
@import 'flexible';


/* 0. Variables
   ========================================================================== */

@mixin lightMode {
    --bg_color: #eee;
    --header_bg: #fafafa;
    --content_bg: #fff;
    --archive_font: #000;
    --archive_title: #46a891;
    --archive_title_hover: #87CDBD;
    --name_font: #FFAA00;
    --job_font: #003845;
    --nav_font: #8d7edc;
    --nav_font_hover: #D4CEF2;
    --shadow_color: rgba(160, 160, 160, 0.05);
    --post_title: #003845;
    --post_date: #003845;
    --post_text: #4c4c4c;
    --post_h3: #4c4c4c;
    --post_link: #46a891;
    --post_link_hover: #87CDBD;
    --inlinecode_text: #FFAA00;
    --blockquote: #333;
    --footer_font: #858585;
    --footer_font_a: #000;
    --border_radius: 15px;

}

@mixin darkMode {
    --bg_color: #1C1C1E;
    --header_bg: #24292E;
    --content_bg: #2F3437;
    --archive_font: #CACCCE;
    --archive_title: #46a891;
    --archive_title_hover: #87CDBD;
    --name_font: #FFAA00;
    --job_font: #CACCCE;
    --nav_font: #8d7edc;
    --nav_font_hover: #D4CEF2;
    --shadow_color: rgba(0, 0, 0, 1);
    --post_header: #ffffff;
    --post_content: #ffffff;
    --post_text: #CACCCE;
    --post_h3: #fff;
    --post_link: #8d7edc;
    --swiper-slide: #2f3437;
    --post_link_hover: #D4CEF2;
    --inlinecode_text: #FFAA00;
    --blockquote: #CACCCE;
    --footer_font_a: #d1d1d1;
    --border_radius: 1px;
    --card_header: #ffffff;
    --main_logo_moving:#ffffff;
}


/* 1. General
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

html,
html.light {
    @include lightMode
}

html.dark {
    @include darkMode
}

@media (prefers_color: light),
(prefers_color: no-preference) {
    html {
        @include lightMode
    }

    html.dark {
        @include darkMode
    }
}

@media (prefers_color: dark) {
    html {
        @include darkMode
    }

    html.light {
        @include lightMode
    }
}

body {
    height: 100%;
    font-weight: normal;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Titillium Web', "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    background-color: var(--bg_color);
    transition: background-color 0.5s ease;
    background-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @include breakpoint(medium) {
        zoom: 1;
    }
}

a {
    text-decoration: none;
}

img {
    // display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin: 1.4em auto;
    z-index: 0;
    background: var(--content_bg);
    position: relative;
    min-height: 85%;
    border-radius: 15px;
    box-shadow: 0 0 2px 2px var(--shadow_color);
    padding-bottom: 2rem;

    @include breakpoint(medium) {
        margin-left: auto;
        margin-right: auto;
        max-width: 1080px;
        padding-top: 2.5rem;
    }

    @include mobile-only {
        padding-top: 16rem;
        min-height: 75%;
        max-width: 92%;
    }
}


.main {
    padding: 0.2rem;
    margin-top: -30px;

    @include breakpoint(medium) {
        margin-left: 22rem;
    }
}

.main2 {
    padding: 0.2rem;
    text-align: center;

    @include breakpoint(medium) {
        margin-left: 18rem;
    }
}

.main_logo {
    padding: 5px;
}

.main_logo_moving {
    font-size: 90px;
    font-weight: bold;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.shake-animation {
    animation: shake 0.5s ease-in-out;
}

.main_logo_moving:hover {
    transform: rotate(5deg);
    color: red;
    animation: shake 0.5s ease-in-out;
}

.aboutme {
    @include breakpoint(medium) {
        max-width: 40rem;
        margin-top: 5px;

        img {
            float: none;
        }
    }
}

.home {
    @include breakpoint(medium) {
        max-width: 40rem;
        margin-top: 5px;

        img {
            float: none;
        }
    }
}

.contact {
    @include breakpoint(medium) {
        max-width: 40rem;
        margin-top: 5px;

        img {
            float: none;
        }
    }
}

.project {
    @include breakpoint(medium) {
        max-width: 40rem;
        margin-top: 5px;

        img {
            float: none;
        }
    }
}

.skills {
    @include breakpoint(medium) {
        max-width: 40rem;
        margin-top: 5px;

        img {
            float: none;
        }
    }
}

    @include mobile-only {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.2);
}

.fourzerofour {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 7rem;
}


/* 2. Archive
   ========================================================================== */

.archive {
    color: var(--archive_font);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 0.6rem;
        }
    }

    & a {
        text-decoration: none;
        color: var(--archive_title);

        &:hover,
        &:focus {
            color: var(--archive_title_hover);
        }
    }

    @include breakpoint(medium) {
        max-width: 30rem;
        margin-top: 5rem;
    }

    @include mobile-only {
        margin-top: 2rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}

.archive_date {
    text-transform: uppercase;

    @include breakpoint(medium) {
        float: right;
    }
}

.archive_title {
    word-wrap: normal;
    @include breakpoint(medium) {
        max-width: 80%;
    }
}

.archive_type {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.archive_year {
    font-size: 1.2rem;
    margin-top: 1.4rem;
    margin-bottom: 0.6rem;
}


/* 3. Header
   ========================================================================== */

.header {
    background-color: var(--header_bg);
    z-index: 1;
    position: absolute;
    top: 0;
    border-radius: var(--border_radius);
    box-shadow: 0 0 2px 2px var(--shadow_color);
    border-bottom: 10px;

    @include mobile-only {
        width: 100%;
        height: 9rem;
    }

    @include breakpoint(medium) {
        width: 18rem;
        height: 100%;
        min-height: 100%;
    }

}

.header_content {
    position: absolute;
    text-align: center;

    @include breakpoint(medium) {
        margin-top: 8rem;
        width: 100%;
    }

    @include mobile-only {
        margin-top: 3rem;
        width: 100%;
    }
}

.header_circle {
    border: none;
    box-sizing: border-box;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;

    img {
        @extend .header_circle;
    }

    &:hover {
        cursor: pointer;
        animation: jiggle 2s ease-in-out infinite;
    }

    @include mobile-only {
        bottom: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.header_name {
    display: block;
    color: #dfc926;
    font-size: 32px;
    padding: 8px;
    font-weight: 700;
}

.header_job {
    display: block;
    margin-top: .1rem;
    color: #84a2a9;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.theme_changer {   
    cursor: pointer;
    input {
        display: none;

        &+div {
            background: url('../img/m.png') no-repeat center center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: relative;
            transition: box-shadow .5s ease 0s, transform .5s ease .1s;

            &:before {
                
                content: '';
                width: inherit;
                height: inherit;
                position: absolute;
                left: 0;
                top: 0;
                transition: background .5s ease;
            }

            &:after {
                
                background: url('../img/s.png') no-repeat center;
                border-radius: 50%;
                content: '';
                width: 30px;
                height: 30px;
                position: absolute;
                transform: scale(0);
                transition: all .5s ease;
            }
        }

        &:checked+div {
            transform: scale(.5);

            &:after {
                transform: scale(2);
                transition: transform .5s ease .15s;
            }
        }
    }
}

.button {
    margin-left: auto;
    margin-right: auto;
}

.nav {
    margin-top: 1rem;

    @include mobile-only {
        display: none;
    }
}

.nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;


    @include mobile-only {
        text-align: center;
    }
}

.nav_item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 5px;
    font-size: 17px;
    font-weight: 600;

    & a {
        color: #8998d2;
        font-size: 17px;

        &:hover,
        &:focus {
            color: var(--nav_font_hover);
        }
    }

    @include mobile-only {

        &:after {
            content: '/';
            color: var(--nav_font);
        }

        &:first-child::before,
        &:last-child::after {
            content: none;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.mobile_menu {
    display: none;

    @include mobile-only {
        display: block;
        margin: -.5rem;
    }

    @include breakpoint(medium) {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
    }
}

@keyframes jiggle {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(3deg);
    }
}
/* 04. Pages
   ========================================================================== */

.post_header {
    padding-bottom: 5px;
    font-size: 35px;
}

.post_content {
    font-family: 'Song Myung', serif;
}

.home_header {
    font-size: 25px;
}

.home_content {
    font-size: 17px;
    font-weight: 600;
    line-height: 38px;
    color: #352625c7;
    border-bottom: 7px;
}

.skills_header {
    font-size: 24px;
    font-weight: 700;
}

.skills_content {
    font-size: 19px;
    font-weight: 600;
}

.skills_hr {
    margin-bottom: 25px;
}

.contact_padding {
    padding-bottom: 10px;
}

.contact_header {
    font-size: 30px;
}

.contact_a_style {
    text-decoration: none;
    font-size: 20px;
    color: #e12db7;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    margin-left: 15px;
    height: 150px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.card {
    width: 250px;
    height: 400px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.card:last-child {
    margin-right: 0;
}

.card_header {
    height:250px;
}

.card_body_information{
    line-height: 7px;
    margin-left: 6px;
}

.card_body_date {
    color: #a79d9d;
    font-size: 16px;
}

.card_body_title {
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.card_body_content {
    font-size: 16px;
    font-weight: bold;
    color: #2b85ff;
    padding-top: 1px;
}



/* 5. Footer
   ========================================================================== */

.footer {
    left: 0;
    right: 0;
    bottom: 0;
    height: 2.4rem;
    text-align: center;
    color: var(--footer_font);
    font-size: 0.9rem;

    a {
        text-decoration: none;
        color: var(--footer_font_a);
    }
}



